* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.content {
  position: absolute;
  top: 25%;
  left: 8%;
}
.content .title {
  color: #0a0a0a;
  font-size: 20px;
  display: inline-block;
  margin-bottom: 20px;
  background: linear-gradient(
    120deg,
    #1c99fe 20.69%,
    #001eff 50.19%,
    #00ff04 79.69%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.content h1 {
  color: #1f1f25;
  font-size: 75px;
  line-height: 90px;
  text-transform: inherit;
  width: 70%;
}
.content h1 span {
  color: #00ff04;
}
.content p {
  width: 70%;
  font-size: 20px;
  color: #202020;
  margin-top: 25px;
  margin-bottom: 30px;
  background: linear-gradient(
    120deg,
    #1c99fe 20.69%,
    #001eff 50.19%,
    #00ff04 79.69%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px; 
  height: auto; 
}

.links {
  position: absolute;
  bottom: -20px;
  left: 0px;
}

.links a {
  display: inline-block;
  margin-right: 10px;
}
